<% layout("/layouts/boilerplate.ejs") %>



<style>


.filter-small{
  height: auto;
  width: 70vw;
  position: absolute;
  z-index: 5;
  background-color: white;
}

.filter-container-small{
  
  display: none;
}

.sort-section{
  justify-content: end !important;
}

@media (max-width: 768px) {
  /* Hide filters on small screens */
  .filter-container {
    display: none;
  }

  /* Increase font size for product titles on small screens */
  .card-text b {
    font-size: 18px;
  }
  .filter-container-small{
    display: block !important;
}

  .sort-section{
    justify-content: space-between !important;
  }
  
}

</style>


  <h2 class="mt-3 mb-4">Sproutly Seeds</h2>

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-12">

        
          
        

        <div class="filter-container">
          <form action="/items" method="get">
            <ul class="list-group">
              <li class="list-group-item filter-group">
                <p class="mb-0 ps-3 d-flex justify-content-between align-items-center">
                  Filters
                  <i class="fa fa-filter float-end"></i>

                </p>
                <ul class="list-group  filter-options">
                  <div class="accordion mt-2" id="accordionExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                          Category
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <ul class="filter-list list-unstyled ps-0">
                            <li>
                              <input type="checkbox" id="category-vegetable" name="category[]" value="Vegetable">
                              <label for="category-vegetable">Vegetable Seeds</label>
                            </li>
                            <li>
                              <input type="checkbox" id="category-fruit" name="category[]" value="Fruit">
                              <label for="category-fruit">Fruits Seeds</label>
                            </li>
                            <li>
                              <input type="checkbox" id="category-flower" name="category[]" value="Flower">
                              <label for="category-flower">Flower Seeds</label>
                            </li>
                            <li>
                              <input type="checkbox" id="category-herb" name="category[]" value="Herb">
                              <label for="category-herb">Herb Seeds</label>
                            </li>
                            <li>
                              <input type="checkbox" id="category-spice" name="category[]" value="Spice">
                              <label for="category-spice">Spice Seeds</label>
                            </li>
                            <li>
                              <input type="checkbox" id="category-oil" name="category[]" value="Oil">
                              <label for="category-oil">Oil Seeds</label>
                            </li>
                            <li>
                              <input type="checkbox" id="category-legume" name="category[]" value="Legume">
                              <label for="category-legume">Legume Seeds</label>
                            </li>
                            <li>
                              <input type="checkbox" id="category-nut" name="category[]" value="Nut">
                              <label for="category-nut">Nut Seeds</label>
                            </li>
                            <li>
                              <input type="checkbox" id="category-green-leafy" name="category[]" value="Green Leafy">
                              <label for="category-green-leafy">Green Leafy Seeds</label>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Price
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <ul class="filter-list list-unstyled ps-0">
                            <li>
                              <input type="checkbox" id="price-99-199" name="price[]" value="99-199">
                              <label for="price-99-199">₹99 - ₹199</label>
                            </li>
                            <li>
                              <input type="checkbox" id="price-199-299" name="price[]" value="199-299">
                              <label for="price-199-299">₹199 - ₹299</label>
                            </li>
                            <li>
                              <input type="checkbox" id="price-299-399" name="price[]" value="299-399">
                              <label for="price-299-399">₹299 - ₹399</label>
                            </li>
                            <li>
                              <input type="checkbox" id="price-399-499" name="price[]" value="399-499">
                              <label for="price-399-499">₹399 - ₹499</label>
                            </li>
                            <li>
                              <input type="checkbox" id="price-499-above" name="price[]" value=">499">
                              <label for="price-499-above">₹499 above</label>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>

                  </div>
                </ul>

              </li>
            </ul>
            <input type="hidden" name="sort" value="<%= sort %>">
            <button type="submit" class="btn btn-success ms-4">Filter</button>
          </form>
        </div>


      </div>





      <div class="col-lg-9 col-md-8 col-sm-12">
        <div class="sort-section d-flex justify-content-between align-items-center mb-3">
          <div class="filter-container-small" >
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#smallFilter" >
              <span class="navbar-toggler-icon"><i class="fa fa-filter float-end pt-1"></i></span>
            </button>
            
            <div class="filter-small collapse mt-2" id="smallFilter">
              <form action="/items" method="get">
                <ul class="list-group">
                  <li class="list-group-item filter-group">
                    <p class="mb-0 ps-3 d-flex justify-content-between align-items-center">
                      Filters
                      <i class="fa fa-filter float-end"></i>
    
                    </p>
                    <ul class="list-group  filter-options">
                      <div class="accordion mt-2" id="accordionExample">
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse"
                              data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                              Category
                            </button>
                          </h2>
                          <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              <ul class="filter-list list-unstyled ps-0">
                                <li>
                                  <input type="checkbox" id="category-vegetable" name="category[]" value="Vegetable">
                                  <label for="category-vegetable">Vegetable Seeds</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="category-fruit" name="category[]" value="Fruit">
                                  <label for="category-fruit">Fruits Seeds</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="category-flower" name="category[]" value="Flower">
                                  <label for="category-flower">Flower Seeds</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="category-herb" name="category[]" value="Herb">
                                  <label for="category-herb">Herb Seeds</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="category-spice" name="category[]" value="Spice">
                                  <label for="category-spice">Spice Seeds</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="category-oil" name="category[]" value="Oil">
                                  <label for="category-oil">Oil Seeds</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="category-legume" name="category[]" value="Legume">
                                  <label for="category-legume">Legume Seeds</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="category-nut" name="category[]" value="Nut">
                                  <label for="category-nut">Nut Seeds</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="category-green-leafy" name="category[]" value="Green Leafy">
                                  <label for="category-green-leafy">Green Leafy Seeds</label>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                              data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              Price
                            </button>
                          </h2>
                          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              <ul class="filter-list list-unstyled ps-0">
                                <li>
                                  <input type="checkbox" id="price-99-199" name="price[]" value="99-199">
                                  <label for="price-99-199">₹99 - ₹199</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="price-199-299" name="price[]" value="199-299">
                                  <label for="price-199-299">₹199 - ₹299</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="price-299-399" name="price[]" value="299-399">
                                  <label for="price-299-399">₹299 - ₹399</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="price-399-499" name="price[]" value="399-499">
                                  <label for="price-399-499">₹399 - ₹499</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="price-499-above" name="price[]" value=">499">
                                  <label for="price-499-above">₹499 above</label>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
    
                      </div>
                    </ul>
    
                  </li>
                </ul>
                <input type="hidden" name="sort" value="<%= sort %>">
                <button type="submit" class="btn btn-success ms-4 mb-3">Filter</button>
              </form>
            </div>
          </div>
          <form action="/items" method="get" id="sortForm" class="d-flex">
            <select name="sort" class="form-select sort-by w-auto me-1">
              <option value=" " <%=sort===' ' ? 'selected' : '' %>>Default Sorting</option>
              <option value="name-asc" <%=sort==='name-asc' ? 'selected' : '' %>>Name (A-Z)</option>
              <option value="name-desc" <%=sort==='name-desc' ? 'selected' : '' %>>Name (Z-A)</option>
              <option value="price-asc" <%=sort==='price-asc' ? 'selected' : '' %>>Price (Low to High)</option>
              <option value="price-desc" <%=sort==='price-desc' ? 'selected' : '' %>>Price (High to Low)</option>
            </select>
            <button type="submit" class="btn btn-success">Sort</button>
          </form>
        </div>

        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3 items-container">
          <% for( let item of allItems ) { %>
            <a href="/items/<%= item._id %>" class="listing-link">
              <div class="card col listing-card">
                <img src="<%= item.image.url %>" class="card-img-top" alt="item_image" style="height: 15rem;">

                <div class="card-body text-center">
                  <p class="card-text mb-0 mt-2">
                    <b>
                      <%= item.title %>
                  </p></b>
                  <p>
                    <%= item.gujname %>
                  </p>
                  <i class="fa fa-inr">
                    <%= item.price.toLocaleString("en-IN") %>
                  </i>

                </div>
                <div class="d-flex">
                  <div class="flex-grow-1">
                    <form action="/cart" method="post">
                      <input type="hidden" name="id" value="<%= item._id %>">
                      <button class="btn btn-success mt-2 w-100">Add to Cart</button>
                    </form>
                  </div>
                  <div>
                    <form action="/wishlist" method="post">
                      <input type="hidden" name="id" value="<%= item._id %>">
                      <button class="btn mt-2"><i class="fa-solid fa-heart text-success"></i></button>
                    </form>
                  </div>
                </div>
              </div>
            </a>
            <% } %>
        </div>
      </div>
    </div>
  </div>

  





  <script>



    const sortSelect = document.querySelector('.sort-by');

    const sortForm = document.getElementById("sortForm");


    sortForm.addEventListener("submit", () => {
      const initialSort = sortSelect.value;

      sortSelect.value = initialSort;
    })

    const smallFilterBtn = document.querySelector(".filter-small-btn");
    const smallFilter = document.querySelector(".filter-small");
    
    smallFilterBtn.addEventListener("click", () => {
      if(smallFilter.style.display == "none"){
        smallFilter.style.display = "block";

      } else {
        smallFilter.style.display = "none";
      }
    })

  </script>